* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  outline: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 7vh;
  background-color: rgba(66, 197, 190, 1);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header_items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  list-style: none;
}

#main-photo {
  width: 43px;
  height: 39px;
}

.header_item img {
  width: 25px;
  height: 25px;
  margin: 0 0.25rem;
}

.header_item a {
  text-decoration: none;
  color: white;
  padding: 1.3rem 0.5rem;
  cursor: pointer;
}

#header__img:hover {
  border-top: none;
}

.header_item a:hover {
  border-top: 4px solid black;
}

.dropdown {
  padding: 0;
}

.dropdown__item {
  background: #42c5be;
  border-top: 4px solid #42c5be;
  text-align: center;
  width: 120px;
}

.dropdown__item:hover {
  border-top: 4px solid black;
  transition: 0s ease 0s;
}

.dropdown__item a:hover {
  border-top: none;
}

li {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

#mobile__header {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 7vh;
  background-color: rgba(66, 197, 190, 1);
  z-index: 10;
}

.mobile-header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  list-style: none;
  padding: 0;
}

.mobile-header__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-header__item img {
  width: 25px;
  height: 25px;
  margin: 0 0.25rem;
}

#seti {
  right: 40px;
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
  border-radius: 10%;
}

.menu-btn__burger {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  box-sizing: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateY(0px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(0px, -0px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(0px, 0px);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  z-index: 20;
  width: 60vw;
  background: rgba(66, 197, 190, 0.9);
  right: 0;
  top: 7%;

  transform: translateX(100%) scale(0);
  transition: transform 0.4s ease-in-out;
}

.menu__items {
  padding: 0.5rem;
  border: 1px solid white;
  width: 60vw;
}

.menu__items a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.open-menu {
  transform: translateX(0%) scale(1);
}

#sec-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25vh;
  margin-top: 4rem;
  background: url("https://img1.goodfon.ru/original/3264x2176/f/ea/gitara-muzykalnyy-instrument-3555.jpg")
    left 10% bottom 40% / cover no-repeat border-box;
}

#sec-1 h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
}

#sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: black;
  border-bottom: 2px solid white;
}

#sec-2 h6 {
  color: #42c5be;
  font-size: 1.4rem;
  font-weight: 500;
  width: 45vw;
  text-align: center;
  margin-top: 5rem;
}

#sec-2 a {
  background: transparent;
  border: 2px solid #42c5be;
  color: #42c5be;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-decoration: none;

  transition: all 0.4s ease 0s;
}

#sec-2 a:hover {
  color: white;
  border-color: white;
}

#sec-2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60vw;
  margin-top: 2rem;
  padding: 2rem 0;
}

.info--price__items {
  list-style: none;
  padding: 0;
}

.info--price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22vw;
}

.info--price__item img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.info--price__item h2 {
  color: #42c5be;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 auto;
}

.info--price__item hr {
  background: transparent;
  border: 1px solid #42c5be;
  width: 100%;
  margin: 1rem 0;
}

.info--price__item p {
  font-size: 0.9rem;
  font-size: 500;
  color: white;
  text-align: center;
  margin-top: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background: black;
  padding: 1.5rem;
}

footer p {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 1315px) {
  .header_items {
    width: 100vw;
  }

  #sec-2 h6 {
    width: 70vw;
  }

  .info--price__item {
    width: 50vw;
  }
}

@media (max-width: 660px) {
  #mobile__header {
    display: flex;
  }

  header {
    display: none;
  }

#sec-1 {
  margin-top: 3.5rem;
}

  #sec-2 h6 {
    width: 90vw;
    font-size: 1rem;
  }

  #sec-2 div {
    flex-direction: column;
    width: 50vw;
    text-align: center;
  }

  .info--price__item {
    width: 100vw;
  }

  .info--price__item img {
    width: 160px;
    height: 160px;
  }

  .info--price__item h2 {
    color: #42c5be;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 auto;
    width: 90vw;
  }
  
  .info--price__item hr {
    width: 80vw;
  }
  
  .info--price__item p {
    width: 80vw;
  }
}
